# using owned workflow file: ./.github/workflows/shared-publish-npm.yml

name: Publish to npm

on:
  push:
    tags:
      - "v*"

jobs:
  call-publish:
    uses: ./.github/workflows/shared-publish-npm.yml
    with:
      node_version: "20"
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
